@import "../../utils/variables";

.conversation__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 8px;
  border-top: 1px solid $color-shade-light;
  background: white;
}

.conversation__input {
  @include default-font;
  border-radius: 5px;
  border: 1px solid $color-shade-light;
  color: $color-primary-1;
  padding: 8px;
  width: 100%;
}

.button__send {
  background: $color-primary-1;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 8px 0px 8px 8px;
  padding: 8px;
  &:disabled {
    color: $color-shade-dark;
    background: $color-shade-light;
  }
}
