.home {

}

.home__button {
  display: block;
  text-align: center;
  margin: 8px;
  padding: 8px 24px;
  color: white;
  border-radius: 5px;
  border: 0px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
