@import "../../utils/variables";

.message__author--left {
  @include small-font;
  color: $color-shade-medium;
  display: block;
}

.message__text--left {
  @include default-font;
  color: $color-shade-dark;
  display: block;
  padding-top: 8px;
}

.message--left {
  @include default-font;
  align-items: flex-start;
  background: white;
  border-radius: 5px 5px 5px 0px;
  border: 0px;
  color: $color-shade-dark;
  display: flex;
  flex-direction: column;
  margin: 8px auto 8px 8px;
  padding: 8px;
  text-decoration: none;
  max-width: 80%;
  width: max-content;
}

.message--right {
  @include default-font;
  align-items: flex-end;
  background: $color-primary-1;
  border-radius: 5px 5px 0px 5px;
  border: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 8px 8px 8px auto;
  padding: 8px;
  text-decoration: none;
  max-width: 80%;
  width: max-content;
}

.message__author--right {
  @include small-font;
  color: $color-shade-light;
  display: block;
}

.message__text--right {
  @include default-font;
  color: #eee;
  display: block;
  padding-top: 8px;
}
