@import "./variables";

.title {
  @include large-font;
  color: $color-primary-1;
  display: block;
  font-weight: bold;
  padding: 8px;
}

.text {
  @include default-font;
  color: $color-primary-2;
  display: block;
  padding: 8px;
}

.label {
  @include default-font;
  display: flex;
  flex-direction: column;
  color: $color-shade-medium;
  padding: 8px;
  font-weight: bold;
}

.input {
  @include default-font;
  background: white;
  border-radius: 5px;
  border: 1px solid $color-shade-dark;
  color: $color-primary-1;
  display: block;
  margin-top: 8px;
  padding: 8px;
  text-decoration: none;
}

.button {
  @include default-font;
  background: -webkit-linear-gradient(
    to left,
    $color-primary-2,
    $color-primary-1
  );
  background: $color-primary-1;
  background: linear-gradient(to left, $color-primary-2, $color-primary-1);
  border-radius: 5px;
  border: 0px;
  color: white;
  display: block;
  margin: 8px;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
}

.fullpage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.fullpage--padded-top {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 40px;
}

.form--with-space {
  padding-top: 40px;
}
