@import "../../utils/variables.scss";

.fullpage__header {
  display: flex;
}

.fullpage__header--title {
  @include large-font;
  color: lighten($color-primary-1, 30);
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 8px;
}
